/* 
    Created on : 2019-01-21, 10:06:29
    Author     : Lukas Rox
*/

    .grid-container{
        width: 100%; 
        max-width: 1140px;      
    }

    .row {
        padding: 10px;
    }
    
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }

    [class*='col-'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*padding: 12px;*/
    }

    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }


    .outline, .outline *{
        outline: 1px solid rgba(127,127,127,0.2); 
    }
    /* xsmall */
    @media only screen and (max-width: 575px) {
        .col-xs-1 { width: 8.33%; }
        .col-xs-2 { width: 16.66%; }
        .col-xs-3 { width: 25%; }
        .col-xs-4 { width: 33.33%; }
        .col-xs-5 { width: 41.66%; }
        .col-xs-6 { width: 50%; }
        .col-xs-7 { width: 58.33%; }
        .col-xs-8 { width: 66.66%; }
        .col-xs-9 { width: 75%; }
        .col-xs-10 { width: 83.33%; }
        .col-xs-11 { width: 91.66%; }
        .col-xs-12 { width: 100%; }
        .grid-container{ max-width: auto; }
     }
     
     /* small */
     @media only screen and (min-width: 576px) and (max-width: 767px) {
        .col-s-1 { width: 8.33%; }
        .col-s-2 { width: 16.66%; }
        .col-s-3 { width: 25%; }
        .col-s-4 { width: 33.33%; }
        .col-s-5 { width: 41.66%; }
        .col-s-6 { width: 50%; }
        .col-s-7 { width: 58.33%; }
        .col-s-8 { width: 66.66%; }
        .col-s-9 { width: 75%; }
        .col-s-10 { width: 83.33%; }
        .col-s-11 { width: 91.66%; }
        .col-s-12 { width: 100%; }
        .grid-container{ max-width: 540px; }
     }
     
     /* medium */
     @media only screen and (min-width: 768px) and (max-width: 991px) {
        .col-m-1 { width: 8.33%; }
        .col-m-2 { width: 16.66%; }
        .col-m-3 { width: 25%; }
        .col-m-4 { width: 33.33%; }
        .col-m-5 { width: 41.66%; }
        .col-m-6 { width: 50%; }
        .col-m-7 { width: 58.33%; }
        .col-m-8 { width: 66.66%; }
        .col-m-9 { width: 75%; }
        .col-m-10 { width: 83.33%; }
        .col-m-11 { width: 91.66%; }
        .col-m-12 { width: 100%; }
        .grid-container{ max-width: 720px; }
     }
     
     /* large */
     @media only screen and (min-width: 992px) and (max-width: 991px) {
        .col-lg-1 { width: 8.33%; }
        .col-lg-2 { width: 16.66%; }
        .col-lg-3 { width: 25%; }
        .col-lg-4 { width: 33.33%; }
        .col-lg-5 { width: 41.66%; }
        .col-lg-6 { width: 50%; }
        .col-lg-7 { width: 58.33%; }
        .col-lg-8 { width: 66.66%; }
        .col-lg-9 { width: 75%; }
        .col-lg-10 { width: 83.33%; }
        .col-lg-11 { width: 91.66%; }
        .col-lg-12 { width: 100%; }
        .grid-container{ max-width: 960px; }
     }
     
     /* xlarge */
     @media only screen and (min-width: 992px) and (max-width: 991px) {
        .col-xl-1 { width: 8.33%; }
        .col-xl-2 { width: 16.66%; }
        .col-xl-3 { width: 25%; }
        .col-xl-4 { width: 33.33%; }
        .col-xl-5 { width: 41.66%; }
        .col-xl-6 { width: 50%; }
        .col-xl-7 { width: 58.33%; }
        .col-xl-8 { width: 66.66%; }
        .col-xl-9 { width: 75%; }
        .col-xl-10 { width: 83.33%; }
        .col-xl-11 { width: 91.66%; }
        .col-xl-12 { width: 100%; }
        .grid-container{ max-width: 1140px; }
     }