/* 
    "SOCIAL SPACE" module for LMeve
    Created on : 2019-01-22, 10:31:03
    Author     : Lukas Rox
*/

.white-translucent {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
}

.neocom-color {
    background: rgba(30,30,30,0.75);
}

.window-body {
    border: 1px solid rgba(255,255,255,0.1);
    position: absolute;
    z-index: 9;
    text-align: center;
    color: #fff;
}

.window-title {
    background: rgba(255,255,255,0.1);
    padding: 5px;
    z-index: 10;
    color: #fff;
    font-weight: bold;
}

.window-header {
    position: absolute;
    padding-top: 3px;
    z-index: 10;
    color: #fff;
    text-align: right;
    width: 100%;
}

.window-button {
    margin-top: 3px;
    margin-right: 3px;
    cursor: default;
}

.window-content {
    overflow-x: hidden; 
    overflow-y: auto; 
}

.chat-70pct {
    height: 75%;
}

.chat-30pct {
    height: 25%;
    width:100%;
}

.chat-30pct textarea {
  background: transparent;
  color: white;
  resize: none;
  border: 0 none;
  width: 100%;
  /*font-size: 5em;*/
  outline: none;
  height: 22%;
  position: absolute;
}

.chat-message {
    margin: 3px;
    width: 100%;
}

.mg-character-list {
    width: 100%;
    margin-bottom: 3px;
}

.mg-character-list img {
    vertical-align: middle;
    margin-right: 5px;
}

#neocom {
    width: 34px;
    height: 100%;
    float: left;
    margin: 0px;
    pointer-events: auto;
}

.neocom-button {
    width: 32px;
    height: 32px;
    margin-bottom: 3px;
    cursor: pointer;
}

#station-panel {
    height: 100%;
    margin: 0px;
    float: right;
    pointer-events: auto;
}

.station-button {
    float: left;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

#crimewatch-icons {
    width: 100%;
    height: 32px;
    padding: 10px 10px 5px 25px;
}

.crimewatch-icon {
    width: 32px;
    height: 32px;
    background: rgba(255,128,0,0.5);
    float: left;
    margin-right: 3px;
}

#location-area {
    width: 100%;
    padding: 5px 10px 5px 25px;
}

#autopilot-area {
    width: 100%;
    padding: 5px 10px 5px 25px;
}

#system-name {
    font-size: large;
    pointer-events: auto;
}

#system-security {
    font-size: large;
    color: paleturquoise;
    pointer-events: auto;
}

#station-ui {
    height: 100%;
    width: 100%;
    margin: 0px;
    pointer-events: none;
    position:absolute;
}

#station-area {
    height: 100%;
    width: 100%;
    margin: 0px;    
    position:absolute;
}

#station-canvas {
    height: 100%;
    width: 100%;
    margin: 0px; 
}

#inventory-area {
    height: 100%;
}

.large {
    font-size: large;
}

#faction-info {
    padding: 5px 10px 5px 10px;
    width: 100%;
}

#faction-info img {
    vertical-align: middle;
}

#station-owner-logo {
    width: 100%;
}

#station-owner-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
}

#station-undock-button {
    width: 100%;
    text-align: center;
}

#station-undock-button img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    cursor: pointer;
}

#logout-button {
    text-align: right;
    margin: 5px;
    color: #fff;
}

#logout-button a {
    color: #fff;
}

.scrolled-list {
  float:right;
  height: 250px;
  width: 250px; 
  padding:3px; 
}

.scrolled-list-content {
  height:224px;
  overflow:auto;
}

img {
    pointer-events: auto;
}

span {
    pointer-events: auto;
}

a {
    pointer-events: auto;
}